@font-face {
	font-family: 'dime-logo';
	src: url('logo/dime-logo.eot?2udsbh');
	src: url('logo/dime-logo.eot?2udsbh#iefix') format('embedded-opentype'),
		 url('logo/dime-logo.woff?2udsbh') format('woff'),
		 url('logo/dime-logo.ttf?2udsbh') format('truetype'),
		 url('logo/dime-logo.svg?2udsbh#dime-logo') format('svg');
	font-weight: normal;
	font-style: normal;
}
 
.logo:before, .dime-logo:before {
	content: '$';
	
	display: inline-block;
	width: 1em;
	margin-right: .2em;

	font: normal normal 30px dime-logo;
	text-decoration: inherit;
	text-transform: none;
	speak: none;
}
	.dime-logo {
		font-size: 0;
		color: @foreground-subdued;
	}