/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
vendor/*
app/storage
!app/storage/views/index.php
.phpintel
public/system/*
!public/system/index.php