@import 'reset.css';
@import 'type.css';

html, body {
	height: 100%;
}

.auth, .frame {
	position: relative;

	background: #fff;
	border-radius: 3px;
	box-shadow: 0 12px 20px rgba(0,0,0,.03);
}

h1 .btn {
	float: right;
}

iframe {
	border: none;
	width: 100%;
	height: 100%;

	min-height: 650px;
}

.msg {
	background: #0cacaa;
	color: #fff;

	line-height: 50px;
}

.frame {
	background: #fff;
}

.auth {
	position: absolute;
	left: 50%;
	top: 50%;

	width: 400px;
	padding: 30px;

	transform: translateX(-50%) translateY(-50%);
}
	.auth-logo {
		position: absolute;
		left: 50%;
		top: -70px;

		margin-left: -11.5px;
		opacity: .3;
	}
	.auth p, .extra-form p {
		padding: 0;
		border: none;
	}
	.auth label, .extra-form label {
		position: static;
	}
	.auth button, .extra-form button {
		margin: 0;
	}

.hint-wrapper {
	display: block;
	position: relative;
}
	.hint {
		position: absolute;
		left: 16px;
		bottom: 24px;

		opacity: .4;
		pointer-events: none;
	}

section.secondary, div.secondary {
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;

	width: 240px;
	height: 100%;
	overflow: auto;

	background: #fcfbfa;
	box-shadow: inset -3px 0 5px rgba(0,0,0,.02);
}
	.content .secondary .empty-state {
		width: 80%;

		font-size: 17px;
		font-weight: normal;
		color: #b9b1aa;
	}
	.secondary a {
		border: none;
	}
	.secondary h1 {
		padding: 2px 0 0;
		margin-bottom: -2px;

		font-size: 21px;
		line-height: 19px;
	}
		body .secondary h1 a {
			opacity: 1;
		}
	.secondary li a {
		display: block;
		width: 100%;
		padding: 8px 20px;

		color: #766e65;
		transition: none;
	}
		.secondary li a span {
			float: right;
			opacity: .5;

			font-size: 13px;
		}
		.secondary li a:hover, .secondary li.active a {
			color: #13c1bf;
		}
			.secondary li a:hover {
				background: linear-gradient(90deg, transparent, rgba(0,0,0,.03) 20%);
			}
			.secondary li.active a {
				background: #fff;
			}
		.secondary li a small {
			display: block;

			font-size: 12px;
			line-height: 17px;
			opacity: .8;

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.secondary li img {
			width: 100%;
			height: auto;
		}
	.secondary .theme-list li a {
		margin: 0 20px 12px;
		padding: 0;
		width: auto;
		height: 150px;

		position: relative;
		overflow: hidden;

		border-radius: 4px;
		box-shadow: 0 2px 4px rgba(0,0,0,.1);
	}
		.secondary .theme-list li a:after,
		.secondary .theme-list li img,
		.secondary .theme-list li b {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
		}
			.secondary .theme-list li a:after {
				content: '';
				z-index: 2;

				display: block;
				height: 55px;

				background: linear-gradient(rgba(8,130,148,0), rgba(8,130,148,.15));
			}
			.secondary .theme-list li img {
				top: 0;
				z-index: 1;
				border-radius: 4px;
				opacity: .8;
			}
		.secondary .theme-list li b {
			display: block;
			padding: 8px 14px;

			bottom: -40px;
			z-index: 3;

			background: rgba(255,255,255,.95);
			color: #404448;

			font-size: 13px;
			border-radius: 0 0 3px 3px;

			opacity: 0;
			transition: opacity .2s, bottom .2s;
		}
			.secondary .theme-list li a:hover b {
				bottom: 0;
				opacity: 1;
			}
			.secondary .theme-list li em {
				float: right;
				font-style: normal;
				font-weight: normal;

				color: #13c1bf;
			}
	.secondary .filter {
		padding: 20px 20px 12px;
		box-shadow: inset 0 -1px 0 rgba(0,0,0,.05);
	}

.tertiary {
	padding: 40px;
	margin-left: 240px;
}
	.tertiary h2 {
		padding-bottom: 1em;

		font-size: 32px;
		line-height: 44px;
		font-weight: lighter;
	}
	.tertiary .wrap {
		margin: 0 auto;
	}
	.tertiary .msg, .tertiary .error {
		position: static;
		margin: -40px -40px 40px;
		padding: 14px 0;

		color: #fff;
	}

.image-uploader {
	position: relative;
	float: left;
	width: 360px;
	height: 320px;
	margin-bottom: 40px;

	background: rgba(173,85,189,.1);
	color: #ad55bd;
	/*overflow: hidden;*/

	border: 2px dashed #ad55bd;
}
	.image-uploader, .image-uploader .remove,
	.image-uploader .preview {
		border-radius: 4px;
	}
	.image-uploader .preview, .image-uploader .remove {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
		.image-uploader .preview {
			margin: -2px;
			background-position: 50% 50%;
			background-size: cover;
		}
	.image-uploader .remove {
		z-index: 11;

		text-indent: -999em;
		border: none;
		cursor: pointer;

		transition: background .2s;
	}
		.image-uploader .remove:hover {
			background: rgba(0,0,0,.4);
		}
			.image-uploader .remove:hover:after {
				opacity: 1;
			}
		.image-uploader .remove:after {
			content: 'Click to remove image';
			position: absolute;
			left: 50%;
			top: 50%;
			z-index: 10;

			color: #fff;
			font-weight: bold;
			text-shadow: 0 3px 6px rgba(0,0,0,.2);
			text-indent: 0;

			opacity: 0;
			transform: translateX(-50%) translateY(-50%);
			transition: opacity .2s;
		}
		.image-uploader .remove:before {
			content: '';
			position: absolute;
			right: 12px;
			top: 12px;

			width: 24px;
			height: 24px;
			border-radius: 24px;

			background: rgba(0,0,0,.25) url('../img/delete-icon.png') no-repeat 50% 50%;
			background-size: 20px 20px;
		}
	.image-uploader input {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 10;

		margin: 0;
		padding: 0;
		opacity: 0;

		cursor: pointer;
	}
	.image-uploader span {
		position: absolute;
		left: 50%;
		top: 50%;

		width: 100%;
		transform: translateX(-50%) translateY(-50%);

		font-size: 14px;
		font-weight: 600;
		text-align: center;
		pointer-events: none;
	}
		.image-uploader span:before {
			content: '';
			display: block;
			width: 20px;
			height: 18px;
			margin: 0 auto 10px;

			background: url('../img/image-icon.png');
			background-size: cover;
		}

.main-form {
	float: right;
	width: 560px;
}
	.main-form > div {
		padding-bottom: 1.6em;
	}
	.main-form textarea {
		min-height: 200px;
		max-height: 350px;
	}
	.main-form select, .main-form label {
		width: 100%;
		vertical-align: middle;
	}
	.main-form label .btn {
		float: right;
		margin-top: 0;
	}
	.main-form .multi {
		overflow: hidden;
	}
		.main-form .multi > div {
			position: relative;
			float: left;
			width: 48%;
			margin-right: 4%;
		}
			.main-form .multi > div + div,
			.main-form .multi div input {
				margin-right: 0;
			}
		.main-form .multi div input {
			width: 100%;
		}

.toggle-infinite {
	position: absolute;
	right: 6px;
	bottom: 21px;
}

.has-conditional {
	overflow: hidden;
}
	.has-conditional > span, .has-conditional label {
		width: 190px;
		overflow: hidden;
	}
	.has-conditional > span {
		float: left;
		height: 85px;
		margin-right: 28px;

		transition: opacity .2s, width .2s, margin .2s;
	}
		.has-conditional.hidden > span:first-child {
			width: 412px;
		}
		.has-conditional.hidden > span:last-child {
			opacity: 0;
			width: 0;
		}
		.has-conditional > span:last-child,
		.has-conditional.hidden .on-sale {
			margin-right: 0;
		}
	.has-conditional .faux-select,
	.has-conditional .on-sale {
		width: 120px;
	}

.frame {
	position: absolute;
	left: 16px;
	top: 16px;
	right: 16px;
	bottom: 16px;
/*	left: 0; right: 0; top: 0; bottom: 0; */

	overflow: hidden;
}

.main-nav, .content {
	position: absolute;
	top: 0;
	bottom: 0;
}

.top-right {
	float: right;
}

.main-nav {
	left: 0;
	width: 180px;

	background: linear-gradient(160deg, #13c1bf 50%, #57c7ed);
	box-shadow: inset -2px 0 3px rgba(0,0,0,.03);
}
	.main-nav .logo, .secondary h1 a {
		display: block;
		padding: 25px;

		opacity: .3;
	}
		.main-nav .logo img {
			display: block;
		}
		.main-nav .logo:hover {
			background: none;
		}
	.main-nav li {
		list-style: none;
	}
		.main-nav a {
			position: relative;
			display: block;
			padding: 8px 25px;

			color: #fff;
			border: none;
		}
			.main-nav a:before {
				display: none;

				text-align: center;
				font-size: 21px;
				line-height: 38px;

				opacity: .5;
			}
			.main-nav a:hover {
				background: rgba(0,0,0,.05);
			}
			.main-nav .active a {
				background: #fff;
				color: #0da0a5;
			}
				.has-secondary .main-nav .active a,
				.has-secondary .main-nav .results .active a {
					background: #fcfbfa;
				}
	.main-nav .actions {
		margin: 0 0 25px;
	}
		.main-nav .actions a {
			font-weight: 500;
		}
	.main-nav .results {
		margin-bottom: 25px;
	}
		.main-nav .results a {
			color: rgba(255,255,255,.75);
		}
			.main-nav .results a:before {
				opacity: .5;
			}
			.main-nav .results a:hover {
				background: rgba(0,0,0,.03);
			}
			.main-nav .results .active a {
				background: #fff;
				color: #13c1bf;
			}
	.main-nav small {
		position: absolute;
		left: 25px;
		bottom: 20px;
		right: 25px;

		opacity: .5;

		font-size: 12px;
		line-height: 18px;
	}
		@media (max-height: 500px) {
			.main-nav small {
				display: none;
			}
		}

.content {
	left: 180px;
	right: 0;

	padding: 40px;
	height: 100%;
	overflow: auto;
}
	.has-secondary .content {
		padding: 0;
	}
	.content .empty-state {
		position: absolute;
		left: 50%;
		top: 50%;

		display: block;
		transform: translateX(-50%) translateY(-50%);

		color: #a3a9b8;
		font-size: 24px;
		line-height: 28px;
		font-weight: lighter;
		text-align: center;
	}
		.content .empty-state span {
			display: block;
			padding-bottom: 1em;
		}
	.content > .msg {
		margin: -40px -40px 40px;
	}
		.has-secondary .content > .msg {
			margin: 0 0 0 240px;
		}
		.content > .msg .wrap {
			width: 100%;
			margin: 0 40px;
		}

.wrap {
	overflow: hidden;
	width: 980px;
	margin: 30px auto;
}

.product-form {

}
	.product-form label {
		position: static;
	}

.has-sub-field {}
	.has-sub-field label {
		display: none;
	}
	.has-sub-field input {
		margin-bottom: 0;
	}
		/*.has-sub-field :empty + .sub-field, */.has-sub-field .empty + .sub-field {
			height: 0;
		}
	.has-sub-field .sub-field {
		height: 40px;
		margin-bottom: 1em;
		padding: 0 18px;
		overflow: hidden;

		font-size: 13px;
		line-height: 40px;

		background: #fdfcfc;
		color: #7c7771;
		box-shadow: inset 0 2px 1px rgba(0,0,0,.05), inset 0 0 0 1px rgba(0,0,0,.05);

		transition: height .2s;
	}
		.has-sub-field .sub-field code {
			display: inline-block;
			width: 66%;
			width: calc(100% - 150px);
			vertical-align: middle;

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
			.has-sub-field .sub-field .product-slug[contenteditable] {
				outline: none;
				padding: 2px 4px;
				margin: -2px 0 0 0; /*-4px;*/
				border-radius: 2px;

				background: #fff;
				box-shadow: inset 0 0 0 1px #f5f2ef, inset 0 2px 2px rgba(0,0,0,.05);
			}
		.has-sub-field .sub-field label {
			position: static;
			display: inline-block;
			width: auto;
			padding: 0;

			font-weight: normal;
			color: #7c7771;
		}
		.has-sub-field .sub-field .btn {
			float: right;
			margin: 9px -9px 0 0;
		}
		.has-sub-field .sub-field input {
			display: none;
			background: transparent;
			box-shadow: none;
		}

.products {
	width: 100%;
	overflow: hidden;
	padding: 40px 0;
}
	.products .product-gutter {
		position: absolute;
		width: 2%;
	}
	.products .product {
		float: left;
		width: 32%;
		margin-bottom: 20px;
	}
		.products .product a {
			display: block;
			padding: 70px 25px 25px;

			position: relative;
	
			background: #fafbfb;
			color: #606066;
			border: none;

			transition: background .2s, box-shadow .2s;
		}
			.products .product a:hover {
				background: #fff;
				box-shadow: 0 6px 12px rgba(10,10,14,.15);
			}
		.products .product .category {
			position: absolute;
			left: 0;
			top: 20px;

			padding: 4px 12px 4px 25px;

			background: #13c1bf;
			color: #fff;
			font-size: 13px;
		}
		.products .product b {
			display: block;
			padding-bottom: 6px;

			font-size: 17px;
			line-height: 27px;

			color: #19181e;
		}
		.products .product p {
			margin-bottom: 0;

			font-size: 14px;
			line-height: 20px;
		}
		.products .product .price {
			float: right;
			color: #13c1bf;
		}
		.products .product img {
			display: block;
			width: 100%;
			height: auto;

			transition: opacity .2s;
		}
			.products .product .img-wrap {
				display: block;
				padding-bottom: 3px;
				margin: -70px -25px 15px;
	
				background: #13c1bf;
				transition: padding-bottom .2s;
			}
				.products .product a:hover .img-wrap {
					padding-bottom: 0;
				}
			.products .product a:hover img {
				opacity: .4;
			}

.footer {
	clear: both;
	padding: .5em 40px 0;
	margin: 0 -40px -15px;
	overflow: hidden;

	background: #fff;
	border-top: 1px solid #f6f5f3;
}
	.footer .wrap {
		margin: 0 auto;
	}
	.footer button {
		float: right;
	}