@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,400italic);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, input, textarea, button, .js select.no-faux {
	color: #374049;

	font: 15px/22px Roboto, sans-serif;
	-webkit-font-smoothing: antialiased;
}
	body {
		background: #f3eee8;
	}

code, .code, pre {
	font: 12px/18px Cousine, monospace;
}

input, textarea, button {
	transition: background .15s;
}

h1, h2, h3, h4 {
	font-weight: normal;
}
	h1 {
		padding-bottom: .75em;

		font-size: 32px;
		line-height: 44px;
		font-weight: lighter;
	}
		h1 + p {
			position: relative;
			top: -5px;

			font-size: 21px;
			line-height: 32px;
			font-weight: lighter;
		}

p {
	padding-bottom: 1em;
}

.error {
	position: absolute;
	top: 0;
	left: 380px;
	right: 0;
	z-index: 10;

	display: block;
	padding: 12px 30px;

	background: #f16536;
	color: #fff;
}
	.auth .error {
		position: static;
		padding: 13px 30px 11px;
		margin: -30px -30px 30px;
		border-radius: 3px 3px 0 0;
	}

button, .btn {
	display: inline-block;
	padding: 10px 20px;

	color: #fff;
	background: #13c1bf;

	font-size: 16px;
	line-height: 24px;
	font-weight: 600;

	border: none;
	border-radius: 2px;

	outline: none;
	cursor: pointer;
}
	.btn + .btn, .btn + button,
	button + button, button + .btn {
		margin-left: 20px;
	}
	button.negative, .btn.negative {
		background: #f16536;
	}
		button.negative:hover, .btn.negative:hover {
			background: #e45829;
		}
	button.secondary, .btn.secondary {
		background: #ad55bd;
	}
		button.secondary:hover, .btn.secondary:hover {
			background: #9641a6;
		}
	button.ghost, .btn.ghost {
		background: #bdbbb6;
	}
		button.ghost:hover, .btn.ghost:hover {
			background: #b0aca5;
		}
	button.small, .btn.small {
		padding: 5px 14px;

		font-size: 13px;
		line-height: 18px;
	}
	button.tiny, .btn.tiny {
		padding: 6px 8px 5px;

		font-size: 11px;
		line-height: 1;
		text-transform: uppercase;
		font-weight: bold;
	}
	button:hover, .btn:hover {
		background: #0db4b2;
		color: #fff;
	}
	button[disabled], .btn[disabled] {
		background: #e3e2e0;
		cursor: not-allowed;
	}
	button:focus, button:active {
		box-shadow: inset 0 2px 4px rgba(0,0,0,.15);
	}

.faux-select, input, textarea, select.no-faux {
	width: 100%;
	margin-bottom: 1em;

	background: #f5f2ef;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.05);
}

.js select {
	position: absolute;
	left: -999em;
}
	.js select.no-faux {
		position: static;
		left: 0;

		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		border: none;
		border-radius: 2px;
		box-shadow: inset 0 -2px 4px rgba(0,0,0,.05);

		background-image: url('../img/dropdown-arrow.png');
		background-position: 100% 50%;
		background-repeat: no-repeat;
		background-size: 30px 6px;
	}

.faux-select {
	display: table;
	height: 40px;

	table-layout: fixed;
}
	.faux-select.faux-small {
		font-size: 12px;
		height: 32px;
		font-weight: 500;
	}
		.faux-select.faux-small span {
			line-height: 32px;
		}
	.faux-select span {
		display: table-cell;

		text-align: center;
		line-height: 40px;

		cursor: pointer;
	}
		.faux-select span:hover {
			background: rgba(0,0,0,.03);
		}
		.faux-select span.selected {
			background: #ad55bd;
			color: #fff;
			box-shadow: 0 4px 6px rgba(0,0,0,.1);
		}

input, textarea, select.no-faux {
	padding: 9px 18px;
	border: none;
}
	textarea {
		resize: vertical;
		min-height: 80px;
		max-height: 125px;
	}
	input:focus, textarea:focus {
		outline: none;

		background: #fff;
		box-shadow: inset 0 0 0 1px rgba(19,193,191,.4), inset 0 4px 6px rgba(0,0,0,.05), 0 0 8px rgba(19,193,191,.3);
	}
	input.code {
		padding: 11px 18px;
	}
	.multi {
		overflow: hidden;
	}
	.multi input, .multi .hint-wrapper {
		float: left;
		width: 48%;
		margin-right: 4%;
	}
		.multi .hint-wrapper input {
			float: none;
			width: 100%;
			margin-right: 0;
		}
		.multi input + input, .multi .hint-wrapper + .hint-wrapper {
			margin-right: 0;
		}

label {
	font-weight: bold;
}
	label[for] {
		display: block;
		padding-bottom: .5em;

		cursor: pointer;
	}
	label sup {
		color: #f16536;
	}

a {
	color: #13c1bf;
	text-decoration: none;
	border-bottom: 1px solid rgba(19,193,191,.25);

	transition: color .2s, border-bottom-color .2s;
}
	a:hover {
		color: #c9509c;
		border-bottom-color: rgba(201,80,156,.25);
	}

form {

}
	form p {
		position: relative;
		padding: .3em 30px 1em 200px;
		margin-bottom: 1em;

		border-bottom: 1px solid #f6f5f3;
	}
		form p.new {
			margin-top: -1em;
			padding-top: 1.3em;

			background: #fdfbfa;
		}
			form p.new label {
				top: 1.8em;
				opacity: .3;
			}
			form p.new .inline-input-link {
				top: .9em;
			}
	form .help {
		display: block;
		cursor: help;

		font-style: normal;
		color: #859292;
	}
	form label {
		position: absolute;
		left: 30px;
		top: .8em;

		width: 140px;
	}
	form button, form .btn {
		margin: 1em 0 0 200px;
	}
		form .btn {
			margin-left: 0;
		}
	form .counter {
		position: absolute;
		left: 30px;
		bottom: 1.5em;

		color: #c9509c;
		font-size: 13px;

		opacity: 0;
		transition: opacity .2s;
	}
		form :focus + .counter {
			opacity: 1;
		}
	form .inline-input-link {
		position: absolute;
		right: 30px;
		top: .3em;

		line-height: 40px;
		border: none;
		cursor: pointer;
	}
		form .inline-input-link.symbol {
			display: inline-block;
			padding: 0 14px;

			font-size: 22px;
		}