/**
 *   Dime
 *   Admin interface
 */
 
* {
	margin: 0;
	padding: 0;

	-webkit-font-smoothing: antialiased;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, input, button, textarea {
	font: 14px/23px "Museo Sans", sans-serif;
	color: #556778;
}
	body.login, .sidebar {
		background: #4485c7;
	}
	
#logo {
	display: block;
}
	#logo img {
		width: 25px;
		height: 25px;
	}
	
/**
 *   Login screen 
 */
html, body.login {
	width: 100%;
	height: 100%;
}
	body.login {
		padding: 50px;
		margin-left: 0;
	}
		body.login .sidebar {
			position: static;
			padding: 0;
			width: auto;
		}
		body.login #logo {
			padding: 0;
			background: transparent;
		}
	body.login form {
		position: absolute;
		left: 50%;
		top: 50%;
		
		width: 320px;
		height: 200px;
		margin: -100px 0 0 -160px;
	}
		body.login input, body.login button {
			-webkit-transition: background .2s;
			-moz-transition: background .2s;
			transition: background .2s;
		}
		body.login input {
			width: 320px;
			padding: 12px 20px;
			margin-bottom: 20px;
			
			background: #3875b4;
			color: #fff;
			
			border: none;
			border-radius: 5px;
			
			font-size: 15px;
		}
			body.login input:focus {
				background: #3069a3;
				outline: none;
			}
		body.login button {
			width: 100%;
			margin-top: 20px;
			padding: 12px 0;
			
			border: none;
			border-radius: 5px;
			
			background: #eef5fc;
			color: #286099;
			font-weight: bold;
			
			cursor: pointer;
		}
			body.login button:hover {
				background: #fff;
			}
		body.login label {
			display: block;
			cursor: pointer;
			
			color: #80b8f0;
			margin-top: -75px;
			margin-bottom: 95px;
		}
			body.login [placeholder] + label {
				display: none;
			}
		body.login ::-webkit-input-placeholder {
			color: #80b8f0;
		}
		body.login :-moz-placeholder, body.login :placeholder {
			color: #80b8f0;
		}
	body.login .error {
		background: #ef4138;
		color: #ffe5e4;
		
		padding: 10px 20px;
		margin: -20px 0 20px;
		
		border-radius: 5px;
	}
	
/**
 *   Normal layout
 */
body {
	margin-left: 230px;
}
.sidebar {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	
	width: 180px;
}
	.sidebar #logo {
		display: block;
		background: #3c7dbe;
		padding: 25px 30px 20px;
	}