/**
 *   Dime
 *   Default skin
 */
 
* {
	margin: 0;
	padding: 0;

	-webkit-font-smoothing: antialiased;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 80%;
	min-width: 800px;
	max-width: 1200px;
	
	margin: 50px auto;
	
	font: 14px/23px "Museo Sans", sans-serif;
	color: #798491;
}

#logo img {
	display: block;
	width: 28px;
	height: 28px;
	
	float: left;
}

.nav {
	float: left;
	margin-left: 60px;
}
	.nav li {
		float: left;
		list-style: none;
	}
	.nav a {
		display: inline-block;
		margin-right: 50px;
		
		color: #707581;
		text-decoration: none;
		line-height: 28px;
	}
		.nav a:hover {
			color: #557fc4;
		}
		.nav .active a {
			background: #0f0;
		}

/**
 *   Loading GIF
 */
.loader {
	position: relative;
	width: 6px;
	height: 6px;
	
	background: #8598b1;
	border-radius: 4px;
	
	margin: 40px;
}
	.loader span {
		position: absolute;
		left: -10px;
		right: -10px;
		top: -10px;
		bottom: -10px;
		
		border: 1px solid #8598b1;
		border-radius: 50px;
		
		opacity: .2;
		
		-webkit-animation: pulse 1s infinite;
	}
	
@-webkit-keyframes pulse {
	0% { opacity: 0; -webkit-transform: scale(0); }
	60% { opacity: .4; -webkit-transform: scale(1.5); }
	100% { opacity: 0; -webkit-transform: scale(3); }
}

@-moz-keyframes pulse {
	0% { opacity: 0; -moz-transform: scale(0); }
	60% { opacity: .4; -moz-transform: scale(1.5); }
	100% { opacity: 0; -moz-transform: scale(3); }
}

@keyframes pulse {
	0% { opacity: 0; transform: scale(0); }
	60% { opacity: .4; transform: scale(1.5); }
	100% { opacity: 0; transform: scale(3); }
}