/**
 *   Dime
 *   Default skin
 */
 
* {
	margin: 0;
	padding: 0;

	-webkit-font-smoothing: antialiased;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 930px;
	margin: 50px auto;
	
	font: 14px/23px "Museo Sans", sans-serif;
	color: #798491;
}

h1 {
	overflow: hidden;
	height: 180px;
	padding: 40px 0;
	
	font-size: 48px;
	line-height: 120px;
	font-weight: 100;
	
	text-overflow: ellipsis;
}

#logo img {
	display: block;
	width: 28px;
	height: 28px;
	
	float: left;
}

.nav {
	float: left;
	margin-left: 50px;
}
	.nav li {
		float: left;
		list-style: none;
	}
	.nav a {
		position: relative;
		top: -2px;
		
		display: inline-block;
		padding: 2px 20px 0;
		margin-right: 20px;
		
		color: #707581;
		text-decoration: none;
		line-height: 28px;
		
		border-radius: 20px;
		border: 2px solid transparent;
	}
		.nav a:hover, .nav .active a {
			color: #557fc4;
		}
		.nav .active a {
			border: 2px solid #9eb9e6;
		}
		
.header form {
	float: right;
	position: relative;
	margin-top: 8px;
}
	.header form label, .header form label img {
		display: block;
		overflow: hidden;
		width: 16px;
		height: 17px;
		
		background: url('../img/search.png');
	}
		.header form label img {
			cursor: pointer;
			height: auto;
			
			-webkit-transition: opacity .25s;
			-moz-transition: opacity .25s;
			transition: opacity .25s;
			opacity: 0;
		}
		.header form input:focus + label img {
			cursor: default;
			opacity: 1;
		}
	.header form input {
		position: absolute;
		left: -92px;
		top: 20px;
		
		font: 14px/19px "Museo Sans", sans-serif;
		color: #25467d;
		
		border: 2px solid #557fc4;
		border-radius: 5px;
		
		padding: 8px 16px;
		width: 200px;
		
		-webkit-appearance: none;
	}
		.header form input:focus {
			opacity: 1;
			outline: none;
			
			top: 40px;
		}
	.header form > img {
		width: 14px;
		height: 8px;
		
		position: absolute;
		top: 14px;
		z-index: 100;
	}
		.header form input:focus ~ img {
			top: 34px;
			opacity: 1;
		}
	.header form input, .header form > img {
		-webkit-transition: opacity .25s, top .25s;
		-moz-transition: opacity .25s, top .25s;
		transition: opacity .25s, top .25s;
		
		opacity: 0;
	}
		.header form ::-webkit-input-placeholder {
			color: #8eafd3;
		}
	.header .basket {
		display: block;
		float: right;
		margin-left: 40px;
		margin-top: 8px;
		
		font-size: 12px;
		line-height: 18px;
		
		background: url('../img/basket.png') no-repeat 100% 100%;
		
		-webkit-background-size: 20px 36px;
		-moz-background-size: 20px 36px;
		background-size: 20px 36px;
	}
		.header .basket a {
			color: #63bc40;
			padding-right: 30px;
			text-decoration: none;
		}
		.header .basket.empty {
			color: #8d93a2;
			background-position: 100% 0;
			
			padding-right: 30px;
		}
	
.main {
	clear: both;
}
	
/**
 *   Products list
 */
.products {
	clear: both;
	width: 1000px;

	list-style: none;
}
	.products li {
		position: relative;
		float: left;
		width: 265px;
		min-height: 150px;
		margin: 0 68px 65px 0;
		
		border-radius: 0 0 5px 5px;
		overflow: hidden;
	}
		.products li a {
			display: block;
		}
		.products li .caption {
			display: block;
			padding: 15px 25px 12px;
			
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			
			background: rgba(48,100,165,.9);
			
			overflow: hidden;
			border-radius: 0 0 5px 5px;
			
			-webkit-transition: height .25s, padding .25s;
			-moz-transition: height .25s, padding .25s;
			transition: height .25s, padding .25s;
			
			-webkit-transition-delay: .125s;
		}
			.js-enabled .products li .caption.hidden {
				height: 0;
				padding: 0 25px;
			}
		.products li h2 {
			float: left;
			width: 150px;
			
			color: #fff;
			font-size: 17px;
			line-height: 26px;
			font-weight: normal;
		}
		.products li .price {
			position: absolute;
			right: -40px;
			bottom: 10px;
			
			padding: 1px 8px 0;
			
			color: #92bef6;
			border: 2px solid #5485c2;
			border-radius: 4px;
			
			-webkit-transition: right .2s;
			-moz-transition: right .2s;
			transition: right .2s;
		}
			.products li a:hover .price {
				right: 15px;
				-webkit-transition-delay: .125s;
			}
	.products img {
		display: block;
		border-radius: 5px;
	}
	
/**
 *   Loading GIF
 */
.loader {
	position: relative;
	width: 6px;
	height: 6px;
	
	background: #8598b1;
	border-radius: 4px;
	
	margin: 40px;
}
	.loader span {
		position: absolute;
		left: -10px;
		right: -10px;
		top: -10px;
		bottom: -10px;
		
		border: 1px solid #8598b1;
		border-radius: 50px;
		
		opacity: .2;
		
		-webkit-animation: pulse 1s infinite;
	}
	
@-webkit-keyframes pulse {
	0% { opacity: 0; -webkit-transform: scale(0); }
	60% { opacity: .4; -webkit-transform: scale(1.5); }
	100% { opacity: 0; -webkit-transform: scale(3); }
}

@-moz-keyframes pulse {
	0% { opacity: 0; -moz-transform: scale(0); }
	60% { opacity: .4; -moz-transform: scale(1.5); }
	100% { opacity: 0; -moz-transform: scale(3); }
}

@keyframes pulse {
	0% { opacity: 0; transform: scale(0); }
	60% { opacity: .4; transform: scale(1.5); }
	100% { opacity: 0; transform: scale(3); }
}